<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Olá, tudo bem? Meu nome é <%= nome %>, tenho <%= idade %> anos.!</h1>
    <h2>NodeJS</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia recusandae cum, similique voluptates magni, perspiciatis itaque repudiandae neque, dolorum cupiditate nesciunt! Assumenda perferendis unde totam veniam tenetur modi non! Eum!</p>
</body>
</html>